.ex-1-square:hover {
  background-color: red;
  transition: 2s; }

  .ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 3s;
}

.ex-4-square:hover {
  transition: 3s;
opacity: 0;
}

.ex-5-square:hover{
  width: 110px;
  height: 110px;
  transition: 2s;
}

.ex-5-square:active{
  width: 30px;
  height: 30px;
  transition: 2s;


}

.ex-6-img:hover {
  filter: grayscale(1);
  transition: 2s;
}

.ex-8-img:hover{
  filter: brightness(1);
  filter: grayscale(1);
  border-radius: 20px;
  transition: 2s;
}

.ex-9-img:hover {
  filter: contrast(1);
  border-radius: 20px;
  transform: scale(2);
  transition: 2s;
}

.ex-10-icon:hover {
  animation: spin 1s linear infinite;

}

@keyframes spin {
  0% {
      transform: rotate(1turn);
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: moveBottomWhite 1s linear infinite;
}
@keyframes moveBottomWhite {
  0% {
      right: 20%;
  }
  50% {
      right: calc(100% - 60px);
  }
  100% {
      right: 20%;
  }